@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap);

:root {
  --bgColor-dark: #313231;
  --subColor-dark: #3b3b3b;
  --textPrimary-dark: #fff;
  --textSecondary-dark: #5d6263;;
  --primaryColor-dark: #e2e2e2c1;
  --letterCorrect-dark: #fff;
  --letterIncorrect-dark: #f55;

  --bgColor-light: #dbdbdb;
  --subColor-light: #a3a2a2;
  --textPrimary-light: #454545;
  --textSecondary-light: #a3a2a2;
  --primaryColor-light: #454545;
  --letterCorrect-light: #454545;
  --letterIncorrect-light: rgb(226, 63, 63);
}

:root[data-theme="dark"] {
  --bgColor: var(--bgColor-dark);
  --subColor: var(--subColor-dark);
  --textPrimary: var(--textPrimary-dark);
  --textSecondary: var(--textSecondary-dark);
  --primaryColor: var(--primaryColor-dark);
  --letterCorrect: var(--letterCorrect-dark);
  --letterIncorrect: var(--letterIncorrect-dark);
}


:root[data-theme="light"] {
  --bgColor: var(--bgColor-light);
  --subColor: var(--subColor-light);
  --textPrimary: var(--textPrimary-light);
  --textSecondary: var(--textSecondary-light);
  --primaryColor: var(--primaryColor-light);
  --letterCorrect: var(--letterCorrect-light);
  --letterIncorrect: var(--letterIncorrect-light);
}

body {
  font-family: 'Roboto Mono', monospace;
  /* font-family: monospace; */
  background-color: var(--bgColor);
  color: var(--textPrimary);
  margin: 50px;
  /* prevent user select */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

h1 {
  color: var(--textPrimary);
  font-size: 24px;
  font-weight: 500;
}

main {
  width: 600px;
  margin: 50px auto;
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 130px 6px 30px;
  color: var(--primaryColor)
}

#new-game-btn {
  text-align: right;
}

button {
  background: none;
  border: 0;
  color: var(--primaryColor); 
  padding: 0 20px;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

.word{
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  margin: 5px 5px;
  font-size: 20px;
}

#game {
  height: 109.5px;
  overflow: hidden;
  position: relative;
}

#game:focus #words {
  filter: blur(0);
}

#game:focus #focus-error {
  display: none;
}

#focus-error {
  position: absolute;
  inset: 0;
  padding-top: 48px;
  text-align: center;
}

#words {
  color: var(--textSecondary);
  filter: blur(5px);
}

.letter.correct {
  color: var(--letterCorrect);
}

.letter.incorrect {
  color: var(--letterIncorrect);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}

.refresh {
  animation: blink 0.5s;
}

#cursor {
  display: none;
  width: 2px;
  height: 1.6rem;
  background-color: var(--primaryColor);
  position: fixed;
  top: 198px;
  left: 50px;
  animation: blink 1s infinite;
}

#game:focus #cursor {
  display: block;
}

#game.over #words{
  opacity: 0.5;;
  filter: blur(0px);
}

#game.over:focus #cursor,
#game.over #focus-error{
  display: none;
}

#stats {
  margin: 100px 6px 6px;
  text-align: center;
  color: var(--primaryColor);
}

.show {
  display: block;
}

.hide {
  display: none;
}

#config button {
  font-size: 12px;
  color: var(--textSecondary);
}

#config {
  max-width: fit-content;
  margin: 50px auto;
  text-align: center;
}

#config .active {
  color: var(--primaryColor);
}

#alphabet {
  margin-top: 10px;
}

#alphabet button {
  padding: 2px;
}

#popup .bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

#popup .modal {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  width: 400px;
  height: 260px;
  background-color: var(--bgColor);
  border-radius: 10px;
  border: 3px solid var(--subColor);
  z-index: 1001;
  padding: 30px;
  display: grid;
}
#popup .title {
  color: var(--textSecondary);
  font-size: 20px;
}

#popup input {
  background-color: var(--subColor);
  border-radius: 10px;
  border: 3px solid var(--subColor);
  height: 30px;
  padding: 3px 10px;
  color: var(--textPrimary);
  font-family: 'Roboto Mono', monospace;
}

#popup input:focus {
  outline: 1.5px solid var(--textPrimary);
}

#popup button {
  background-color: var(--subColor);
  border-radius: 10px;
  border: 3px solid var(--subColor);
  height: 39px;
}

#popup button:hover {
  background-color: var(--textPrimary);
  color: var(--textSecondary);
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header h1 {
  text-align: left;
  display: inline;
}

header button {
  text-align: right;
}